img {
  vertical-align: bottom
}

.wrap {
  max-width: 640px;
  height: 100%;
  margin: 0 auto;
  color: #000
}

.wrap-header {
  background-color: rgba(66, 200, 181, 1);
  padding-bottom: 30px
}

.header-banner img,
.wrap-footer img {
  width: 100%
}

.header-form {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 40px 20px 30px 20px;
  margin: 15px;
  background: #fff;
  border-radius: 6px;
  text-indent: 10px;
  box-shadow: #333 0 1px 4px -1px;
  margin-top: 0
}

.getVerCode-btn {
  float: right;
  position: absolute;
  bottom: 116px;
  right: 30px;
  color: #2ec1aa;
  text-align: right;
  cursor: pointer
}

.form-submit-btn {
  padding: 17px 0;
  background-color: #2ec1aa;
  text-align: center;
  border-radius: 6px;
  cursor: pointer
}

.wrap-main {
  background: 0;
  line-height: 25px;
  text-align: left
}

.wrap-main img {
  width: 100%
}

.wrap-footer {
  cursor: pointer;
  max-width: 640px;
  position: fixed;
  bottom: 0
}

.header-form input,
select {
  width: 100%;
  padding: 15px 0;
  color: #666;
  font-size: 14px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #ddd;
  text-indent: 10px
}
.header-form select{
  appearance:none;
  background: #ffffff url("./img/form-arrow.png") no-repeat 97%  center;
}